body {
  background: #E5E7E6;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(180,58,136);
  background: linear-gradient(90deg, rgba(180,58,136,1) 0%, rgba(253,29,29,1) 50%, rgba(252,151,69,1) 100%);
  border-bottom: red;
}

h1 {
  text-align: center;
  align-items: center;
  color: #E5E7E6;
  font-family: 'Sansita Swashed', cursive;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  
  color: red;
}

p {
  font-style: italic;

}

img {
  height: 380px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  border-style: solid;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70 px;
}


